.DS_Store
node_modules/*
dist/*
.idea/
lkl-zf-bs-ams-h5-app.iml
.DS_STORE
*.map
.idea/*
dist.zip
*.local

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
